.header{
    width: 100vw;
    background-color: #FF851B;
}

.main_section{
    display: flex;
    justify-content: start;
}

.main_section h1{
    margin: 0 160px 0 160px;
}

.restaurant_brand{
    display: flex;
    position: relative;
    align-items: center;
    z-index: 1;
    top: -10%;
    left: auto;
}

.rating_info_bar{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 8px 160px 0 160px;
}
.rating_info_bar p{
    display: flex;
    align-items: center;
    gap: 4px;
}