@font-face {
    font-family: "Alata";
    src: url('fonts/Alata.ttf');
    font-weight: 400;
}

*{
    font-family: Alata;
    font-weight: 400;
}
.header{
    width: 100vw;
    background-color: #FF851B;
}

.info_section{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.info_section h1{
    margin: 0 160px 0 160px;
}

.restaurant_brand{
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1;
    top: 55%;
    left: auto;
}

.rating_info_bar{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 48px 160px 0 160px;
}
.rating_info_bar p{
    display: flex;
    align-items: center;
    gap: 4px;
}

.categories{
    margin: 16px 160px 0 160px;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: start;
    gap: 24px;
    
}