@font-face {
    font-family: "Alata";
    src: url('lieferino/Fonts/Alata.ttf');
    font-weight: 400;
}
*{
    font-family: Alata;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: #FF851B;
    border-radius: 24px;
    padding: 4px;
}